/* MENU */
.header nav ul{
    display: flex;
}

.header nav ul li a{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    padding: 10px 30px;
    border-radius: var(--border-radius-pill);
    transition: var(--transition-fast);
}

.header nav ul li a:hover{
    color: var(--color-text-default);
    background-color: var(--color-bg-light);
}

/* RESPONSIVO */
.header .menu{
    display: none;
    width: 50px;
    height: 50px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

.header .hamburger{
    background-color: var(--color-text-default);
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 30px;
    left: 15px;
    transition: var(--transition-medium);
}

.header .hamburger:before,
.header .hamburger:after{
    background-color: var(--color-text-default);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: var(--transition-fast) ease-in-out;
}

.header .hamburger:before{
    top: -10px;
}

.header .hamburger:after{
    bottom: -10px;
}

.header input{
    display: none;
}

.header input:checked ~ label .hamburger{
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburger:before{
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburger:after{
    transform: rotate(90deg);
    bottom: 0;
}

@media (max-width: 900px){
    .header .menu{
        display: block;
    }

    .header nav ul{
        display: none;
    }

    .header input:checked ~ ul{
        display: block;
    }

    .header nav{
        position: absolute;
        top: 8px;
        right: 35px;
        z-index: 1;
    }

    .header nav ul{
        width: 200px;
        background-color: var(--color-primary);
        padding: 10px;
        border-radius: var(--border-radius-card);
    }

    .header nav ul a{
        display: block;
        text-align: center;
        padding: 10px;
    }
}
